/*lettertypes*/
h1 {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24pt;
}

h2 {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22pt;
}

h3 {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20pt;
}

h4 {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18pt;
}

/*nav*/
.c-nav {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  text-transform: uppercase;
  text-align: center;
  background-color: #022329;
}

.c-nav * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.c-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 0.5em;
  padding: 0.5rem;
}

.c-nav a {
  padding: .5em .8em;
  color: rgba(255, 255, 255, 0.589);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.c-nav a:active {
  color: #E0D07C;
}

.c-nav a::before,
.c-nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  opacity: 0;
}

.c-nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #FFF0A1;
  border-right: 3px solid #E0D07C;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
}

.c-nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #E0D07C;
  border-left: 3px solid #FFF0A1;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.c-nav a:hover:before,
.c-nav a:hover:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.c-nav a:hover {
  color: #FFF0A1;
}

/*zoekveld*/
.c-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  position: relative;
  border: 2px solid #E0D07C;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-right: 5rem;
}

.c-search__txt {
  font-family: interstate, sans-serif;
  font-style: italic;
  font-weight: 50;
  font-size: 12pt;
  width: 75%;
  border-top: none;
  border-left: none;
  border-bottom: none;
  background-color: transparent;
  color: #E0D07C;
}

.c-search__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25%;
}

.c-search__btn--icon {
  font-size: 1.25rem;
  padding-left: 1rem;
  color: #E0D07C;
}

.c-search__btn:hover {
  border: none;
  color: white;
}

.c-search::after {
  content: "";
  clear: both;
  display: table;
}

/*carousel*/
@media only screen and (min-width: 1140px) {
  .carousel-inner {
    height: 80vh;
  }
}

/*welkom*/
.c-welkom {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-welkom__img {
  width: 250px;
  float: left;
}

.c-welkom__h2 {
  padding-left: 0.2rem;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22pt;
  float: right;
}

/*over*/
.c-over {
  padding: 2rem;
}

.c-over--img {
  padding-top: 0.5rem;
  width: 57.6vh;
}

/*enkele sprekers*/
.c-enkelesprekers {
  position: relative;
  padding-bottom: 3rem;
}

.c-enkelesprekers--titel {
  padding: 1.5rem;
}

.c-enkelesprekers img {
  -webkit-box-shadow: 0.5px 0.5px 0.5rem gray;
          box-shadow: 0.5px 0.5px 0.5rem gray;
}

.text-block {
  position: absolute;
  width: 80%;
  height: 80%;
  bottom: 10%;
  right: 10%;
  background-color: rgba(224, 207, 123, 0.35);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: 0.5px 0.5px 2rem grey;
          box-shadow: 0.5px 0.5px 2rem grey;
}

.text-block h3 {
  padding-top: 55%;
}

.text-block:hover {
  background-color: rgba(224, 207, 123, 0.55);
  cursor: pointer;
}

/*sorteerbalk*/
.c-sort {
  margin-top: 4rem;
  padding: 1rem;
  background-color: #E0D07C;
  text-transform: uppercase;
  color: white;
  -webkit-box-shadow: 0.5px 0.5px 0.2rem grey;
          box-shadow: 0.5px 0.5px 0.2rem grey;
}

.c-sort__text {
  padding-top: 0.5rem;
  padding-right: 1rem;
}

.c-sort .c-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin: 2px;
  border: none;
  background: transparent;
  text-transform: uppercase;
  color: white;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18pt;
}

.c-sort .active, .c-sort .c-btn:hover {
  margin: 0;
  color: white;
  text-decoration: none;
  border: 2px solid white;
}

/*speakercard*/
.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 2px 5px 1rem black;
          box-shadow: 2px 5px 1rem black;
  background-color: #022329;
  color: white;
}

@media only screen and (max-width: 767px) {
  .card {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.card-img-top {
  width: 20rem;
  border-radius: 0.5rem;
}

.card-block__text {
  position: absolute;
  width: 80%;
  height: 36%;
  bottom: 55%;
  right: 10%;
  border-radius: 0.5rem;
  background-color: rgba(224, 207, 123, 0.35);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: 0.5px 0.5px 1rem gray;
          box-shadow: 0.5px 0.5px 1rem gray;
}

.card-text {
  text-align: left;
  padding-top: 2rem;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 12pt;
}

.card-p {
  padding-top: 2rem;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14pt;
}

.inline {
  display: inline-block;
  margin-right: px;
}

.c-like__btn {
  background: transparent;
  border: none;
  color: #E0D07C;
  font-size: 2rem;
}

.card-btn {
  color: #E0D07C;
  margin-left: 12rem;
}

.card-btn:before,
.card-btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #E0D07C;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-btn span:before,
.card-btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #E0D07C;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-btn {
  padding: 10px 25px;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14pt;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #E0D07C;
  margin: 1rem;
}

button {
  margin: 20px;
}

.btn-4 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #E0D07C;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-4:before {
  height: 50%;
  width: 2px;
}

.btn-4:after {
  width: 20%;
  height: 2px;
}

.btn-4:hover:before {
  height: 100%;
}

.btn-4:hover:after {
  width: 100%;
}

.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #E0D07C;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-4 span:before {
  width: 2px;
  height: 50%;
}

.btn-4 span:after {
  width: 20%;
  height: 2px;
}

.btn-4 span:hover:before {
  height: 100%;
}

.btn-4 span:hover:after {
  width: 100%;
}

/*paging*/
.pagination {
  display: inline-block;
  padding: 2rem;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14pt;
}

li.page-item {
  display: inline;
}

li.page-item a {
  color: #022329;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
}

li.page-item a:hover {
  background: transparent;
  border: 2px solid #63898F;
  color: #63898F;
}

/*table*/
.c-table {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 5px 5px 1rem #f0f0f0;
          box-shadow: 5px 5px 1rem #f0f0f0;
}

.c-table--titel {
  background-color: #022329;
  padding: 1.5rem;
  padding-left: 1rem;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16pt;
  color: white;
}

.c-table--row {
  cursor: pointer;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14pt;
}

.c-table--row:hover {
  background-color: rgba(98, 136, 141, 0.5);
  color: white;
}

.c-table--row:nth-child(even) {
  background-color: #f9f9f9;
}

.c-table--row:nth-child(even):hover {
  background-color: rgba(98, 136, 141, 0.5);
  color: white;
}

/*sponsors*/
.c-sponsor {
  margin-bottom: 2rem;
}

.c-sponsor h1 {
  margin: 1rem;
}

.c-sponsor h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1140px) {
  .c-sponsor h2 {
    text-align: center;
  }
}

.c-sponsor--img {
  padding-top: 2rem;
}

@media only screen and (max-width: 1140px) {
  .c-sponsor--img {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*footer*/
footer {
  position: relative;
  padding: 2rem;
  list-style-type: none;
  background-color: #022329;
}

footer h4 {
  color: #E0D07C;
}

footer img {
  width: 3rem;
}

.footer__nav--item {
  list-style-type: none;
}

.footer__i {
  color: white;
  padding-top: 5rem;
}

.footer__nav--link {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  color: white;
  text-decoration: none;
}

.footer__nav--link:hover {
  text-decoration: none;
  color: #FFF0A1;
}

.c-footer {
  text-align: center;
}

.c-footer li {
  text-align: left;
}

.c-footer p {
  text-align: left;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  color: white;
  padding-left: 8rem;
}

.c-form__email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  position: relative;
  border: 2px solid #E0D07C;
  overflow: hidden;
}

.c-form__email--label {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  color: #E0D07C;
}

.c-form__email--input {
  font-family: interstate, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12pt;
  padding: 5px;
  background: none;
  width: 70%;
  border: 2px solid #E0D07C;
  background-color: transparent;
}

.c-form__email--btn {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  padding: 5px;
  border: 2px solid #E0D07C;
  background-color: #E0D07C;
  color: white;
  cursor: pointer;
}

.c-form__email--btn:hover {
  background-color: #FFF0A1;
  border: 2px solid #FFF0A1;
}

.c-fb {
  color: #E0D07C;
  font-size: 2.5rem;
  padding: 2rem;
}

.c-fb:hover {
  color: #FFF0A1;
}

.c-twitter {
  color: #E0D07C;
  font-size: 2.5rem;
  padding: 2rem;
}

.c-twitter:hover {
  color: #FFF0A1;
}
/*# sourceMappingURL=screen.css.map */