$kleur-secondary: #022329;
$kleur-secondary--hover: #63898F;
$kleur-accent: #E0D07C;
$kleur-accent--hover: #FFF0A1;

.c-nav {
    font-family: interstate, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12pt;
    text-transform: uppercase;
    text-align: center;
    background-color: $kleur-secondary;
}
  
  .c-nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .c-nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 0.5em;
    padding: 1rem;
  }
  
  .c-nav a {
    padding: .5em .8em;
    color: rgba(255, 255, 255, 0.589);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }

  .c-nav a:active {
    color: $kleur-accent;
  }
  
  .c-nav a::before,
  .c-nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .c-nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid $kleur-accent--hover;
    border-right: 3px solid $kleur-accent;
    transform: translate(-100%, 50%);
  }
  
  .c-nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid $kleur-accent;
    border-left: 3px solid $kleur-accent--hover;
    transform: translate(100%, -50%);
  }
  
  .c-nav a:hover:before,
  .c-nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .c-nav a:hover {
    color: $kleur-accent--hover;
  }




  /*zoekveld*/
  .c-search {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 2px solid $kleur-accent;
    border-radius: 0.25rem;
    overflow: hidden;
  
    &__txt {
      font-family: interstate, sans-serif;
      font-style: italic;
      font-weight: 50;
      font-size: 12pt;
      padding: 10px;
      width: 75%;
      border-top: none;
      border-left: none;
      border-bottom: none;
      background-color: transparent;
      color: $kleur-accent;
    }
  
    &__btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 25%;
      &--icon {
        font-size: 1.25rem;
        padding-left: 1rem;
        color: $kleur-accent;  
      }
    }
  
    &__btn:hover {
      border: none;
      background-color: $kleur-accent;
      color: white;
    }
    
  }
  
  .c-search::after {
    content: "";
    clear: both;
    display: table;
  }

  /*carousel*/
  .carousel-inner {
    height: 80vh;
  }

  .c-welkom {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      width: 250px;
      float: left;
    }
    
    &__h2 {
      padding-left: 0.2rem;
      font-family: montserrat, sans-serif;
      font-style: normal;
      font-weight: 100;
      font-size: 22pt;
      float: right;
    }
  }

  .c-over {
    padding: 2rem;

    &--img {
      padding-top: 0.5rem;
      width: 57.6vh;
    }
  }

  .c-enkelesprekers {
    position: relative;
    padding-bottom: 3rem;
    
    &--titel {
      padding: 1.5rem;
    }
  }
  
  .text-block {
    position: absolute;
    width: 80%;
    height: 80%;
    bottom: 10%;
    right: 10%;
    background-color: rgba(224, 207, 123, 0.35);
    color: white;
    padding-left: 20px;
    padding-right: 20px;

    h3 {
      padding-top: 55%;
    }
  }

  .text-block:hover {
    background-color: rgba(224, 207, 123, 0.55);
    cursor: pointer;
  }

  footer {
    position: relative;
    padding: 2rem;
    background-color: $kleur-secondary;

    h4 {
      color: $kleur-accent;
    }

    i {
        color: white;
    }

    img {
        width: 3rem;
    }
  }

  .footer__nav--link {
    font-family: interstate, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12pt;
    color: white;
    text-decoration: none;
  }

  .footer__nav--link:hover {
    text-decoration: none;
    color: $kleur-accent--hover;
  }

  .c-footer {
      text-align: center;
      
      li {
          text-align: left;
      }

      p {
          text-align: left;
          font-family: interstate, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12pt;
          color: white;
          padding-left: 8rem;
      }
  }

  .c-form__email {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 2px solid $kleur-accent;
    overflow: hidden;

    &--label{
      font-family: interstate, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12pt;
      color: $kleur-accent;
    }

    &--input {
      font-family: interstate, sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 12pt;
      padding: 5px;
      background: none;
      width: 70%;
      border: 2px solid $kleur-accent;
      background-color: transparent;
    }

    &--btn {
      font-family: interstate, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12pt;
      padding: 5px;
      border: 2px solid $kleur-accent;
      background-color: $kleur-accent;
      color: white;
      cursor: pointer;
    }
    
      &--btn:hover {
        background-color: $kleur-accent--hover;
        border: 2px solid $kleur-accent--hover;
      }
    
  }

  .c-fb {
    color: $kleur-accent;
    font-size: 2.5rem;
    padding: 2rem;

    &:hover {
        color: $kleur-accent--hover;
    }
  }
  
  .c-twitter {
    color: $kleur-accent;
    font-size: 2.5rem;
    padding: 2rem;

    &:hover {
        color: $kleur-accent--hover;
    }
  }
