$kleur-secondary: #022329;
$kleur-secondary--hover: #63898F;
$kleur-accent: #E0D07C;
$kleur-accent--hover: #FFF0A1;

 /*lettertypes*/
 h1 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 24pt;  
  }

  h2 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 22pt;  
  }

  h3 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 20pt;  
  }

  h4 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 18pt;  
  }

  h5 {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 600; 
    font-size: 16pt; 
  }

  p {
    font-family: interstate, sans-serif;
    font-style: normal;
    font-weight: 100; 
    font-size: 14pt;
  }

 /*nav*/
.c-nav {
    font-family: interstate, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12pt;
    text-transform: uppercase;
    text-align: center;
    background-color: $kleur-secondary;
}
  
  .c-nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .c-nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 0.5em;
    padding: 0.5rem;
  }
  
  .c-nav a {
    padding: .5em .8em;
    color: rgba(255, 255, 255, 0.589);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }

  .c-nav a:active {
    color: $kleur-accent;
  }
  
  .c-nav a::before,
  .c-nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .c-nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid $kleur-accent--hover;
    border-right: 3px solid $kleur-accent;
    transform: translate(-100%, 50%);
  }
  
  .c-nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid $kleur-accent;
    border-left: 3px solid $kleur-accent--hover;
    transform: translate(100%, -50%);
  }
  
  .c-nav a:hover:before,
  .c-nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .c-nav a:hover {
    color: $kleur-accent--hover;
  }

  /*zoekveld*/
  .c-search {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 2px solid $kleur-accent;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-right: 5rem;
  
    &__txt {
      font-family: interstate, sans-serif;
      font-style: italic;
      font-weight: 50;
      font-size: 12pt;
      width: 75%;
      border-top: none;
      border-left: none;
      border-bottom: none;
      background-color: transparent;
      color: $kleur-accent;
    }
  
    &__btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 25%;
      &--icon {
        font-size: 1.25rem;
        padding-left: 1rem;
        color: $kleur-accent;  
      }
    }
  
    &__btn:hover {
      border: none;
      color: white;
    }
    
  }
  
  .c-search::after {
    content: "";
    clear: both;
    display: table;
  }

  /*carousel*/
  @media only screen and (min-width: 1140px) {
  .carousel-inner {
      height: 80vh;
  }
  }

  /*welkom*/
  .c-welkom {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      width: 250px;
      float: left;
    }
    
    &__h2 {
      padding-left: 0.2rem;
      font-family: montserrat, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22pt;
      float: right;
    }
  }

  /*over*/
  .c-over {
    padding: 2rem;

    img {
        width: 100%;
        padding-top: 0.5rem;
    }
  }

  /*enkele sprekers*/
  .c-enkelesprekers {
    position: relative;
    padding-bottom: 3rem;
    
    &--titel {
      padding: 1.5rem;
    }

    img {
        box-shadow: 0.5px 0.5px 0.5rem gray;
    }
  }
  
  .text-block {
    position: absolute;
    width: 80%;
    height: 80%;
    bottom: 10%;
    right: 10%;
    background-color: rgba(224, 207, 123, 0.35);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0.5px 0.5px 2rem grey;

    h3 {
      padding-top: 55%;
    }
  }

  .text-block:hover {
    background-color: rgba(224, 207, 123, 0.55);
    cursor: pointer;
  }

  /*sorteerbalk*/
  .c-sort {
      margin-top: 4rem;
      padding: 1rem;
      background-color: $kleur-accent;
      text-transform: uppercase;
      color: white;
      box-shadow: 0.5px 0.5px 0.2rem grey;

      &__text {
          padding-top: 0.5rem;
          padding-right: 1rem;
      }

      .c-btn {
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
          margin: 2px;
          border: none;
          background: transparent;
          text-transform: uppercase;
          color: white;
          font-family: interstate, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18pt;
      }

      .active, .c-btn:hover {
          margin: 0;
          color: white;
          text-decoration: none;
          border: 2px solid white;
      }

  }

  /*speakercard*/
  
  .card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 5px 1rem black;
    background-color: $kleur-secondary;
    color: white;

    @media only screen and (max-width: 767px) {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  }
  
  .card-img-top {
    width: 20rem;
    border-radius: 0.5rem;
  }
  
  .card-block__text {
    position: absolute;
    width: 80%;
    height: 36%;
    bottom: 55%;
    right: 10%;
    border-radius: 0.5rem;
    background-color: rgba(224, 207, 123, 0.35);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0.5px 0.5px 1rem gray;
  }
  
  
  .card-text {
    text-align: left;
    padding-top: 2rem;
    font-family: interstate, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12pt;
  }

  .card-p {
    padding-top: 2rem;
    font-family: interstate, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14pt;
  }
  
  .inline {
    display:inline-block;
     margin-right:px;
  }
  
  .c-like__btn {
    background: transparent;
    border: none;
    color: $kleur-accent;
    font-size: 2rem;
  }
  
  .card-btn {
    color: $kleur-accent;
    margin-left: 12rem;
  }
  
  .card-btn:before,
  .card-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: $kleur-accent;
    transition: all 0.3s ease;
   
  }
  
  .card-btn span:before,
  .card-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: $kleur-accent;
    transition: all 0.3s ease;
  }

  .custom-btn {
    padding: 10px 25px;
    font-family: interstate, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14pt;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: $kleur-accent;
    margin: 1rem;
  }
  
  button {
    margin: 20px;
  }
  
  .btn-4 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: $kleur-accent;
    transition: all 0.3s ease;
   
  }
  .btn-4:before {
    height: 50%;
    width: 2px;
  
  }
  .btn-4:after {
    width: 20%;
    height: 2px;
  }
  .btn-4:hover:before {
    height: 100%;
  }
  .btn-4:hover:after {
    width: 100%;
  }
  .btn-4 span:before,
  .btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: $kleur-accent;
    transition: all 0.3s ease;
  }
  .btn-4 span:before {
    width: 2px;
    height: 50%;
  }
  .btn-4 span:after {
    width: 20%;
    height: 2px;
  }
  .btn-4 span:hover:before {
    height: 100%;
  }
  .btn-4 span:hover:after {
    width: 100%;
  }
  
 /*paging*/
 .pagination {
    display: inline-block;
    padding: 2rem;
    font-family: interstate, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14pt;
     
    }
    .page-item.active .page-link {
      background: transparent; 
          border: 2px solid $kleur-secondary;
          color: $kleur-secondary;
    }

    li.page-item {
        display: inline;
     a {
        color: $kleur-secondary;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: none;
        &:hover {
            background: transparent; 
            border: 2px solid $kleur-secondary--hover;
            color: $kleur-secondary--hover;
        }
      }
    }

   

  /*spreker detail*/
  .c-sprekerdetail {
      margin-top: 5rem;
      img {
          width: 100%;
      }
      h4 {
          padding-top: 2rem;
      }
      p {
          padding-top: 1.5rem;
      }
      a {
          color: $kleur-secondary;
          padding: 0.2rem;
          &:hover {
              color: $kleur-secondary--hover;
          }
      }
      button {
          color: $kleur-secondary;
          margin: 0;
          padding-top: 0.5rem;
      }
  }

  /*session detail*/
  .c-sessiondetail {
    margin-top: 5rem;
    img {
        width: 100%;
        margin-bottom: 2rem;
    }
    h3 {
        padding-top: 1rem;
    }
    h5 {
        padding-top: 3rem;
    }

    a {
        color: $kleur-secondary;
        padding-top: 0;
        padding-left: 0.2rem;
        &:hover {
            color: $kleur-secondary--hover;
        }
    }
}

  /*table*/
  .c-table {
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
      box-shadow: 5px 5px 1rem #f0f0f0;

      &--titel {
          background-color: $kleur-secondary;
          padding: 1.5rem;
          padding-left: 1rem;
          font-family: montserrat, sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16pt;
          color: white;
      }

      &--row {
          cursor: pointer;
          font-family: interstate, sans-serif;
          font-style: normal;
          font-weight: 100;
          font-size: 14pt;
          &:hover{
          background-color: rgba(98, 136, 141, 0.5);
          color: white;
        }
      }

      &--row:nth-child(even) {
          background-color: #f9f9f9;
          &:hover {
            background-color: rgba(98, 136, 141, 0.5);
            color: white;
          }
      }
  }

  /*sponsors*/
  .c-sponsor {
      margin-bottom: 4rem;
      h1 {
          margin: 1rem;
      }

      h2 {
          margin-top: 4rem;
          margin-bottom: 2rem;
          @media only screen and (max-width: 1140px) {
              text-align: center;
          }
      }

      &--img {
          padding-top: 2rem;
      }

      @media only screen and (max-width: 1140px) {
          &--img {
              padding-top: 2rem;
              padding-bottom: 2rem;
          }
      }
  }

  /*tickets*/
  .c-tickets {
      display: inline-block;
      color: $kleur-secondary;
      h1 {
          margin-top: 2rem;
          @media only screen and (max-width: 1140px) {
            text-align: center;
          }
      }
        &--img {
            padding: 2rem;
            width: 100%;
        }

        &--label {
          margin-top: 2rem;
          font-family: interstate, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 14pt;
        }
      
        &--input {
          padding: 5px;
          border: 2px solid $kleur-secondary;
          border-radius: 0.15rem;
          font-family: interstate, sans-serif;
          font-style: normal;
          font-weight: 100;
          font-size: 12pt;
          &::placeholder{
            font-family: interstate, sans-serif;
            font-style: italic;
            font-weight: 100;
            font-size: 12pt;
          }
        }
      
        &--input:hover {
          border: 2px solid $kleur-secondary--hover;
        }

        &--aantal {
            padding-left: 0;
            h5 {
                font-family: interstate, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14pt;  
            }

            label {
                font-family: interstate, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14pt;
            }
        }
        .card-btn {
            color: $kleur-secondary;
          }
          
          .card-btn:before,
          .card-btn:after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            background: $kleur-secondary;
            transition: all 0.3s ease;
           
          }
          
          .card-btn span:before,
          .card-btn span:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: $kleur-secondary;
            transition: all 0.3s ease;
          }
        
          .custom-btn {
            margin-left: 0;
            margin-bottom: 2rem;
            font-family: interstate, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14pt;
            background: transparent;
            outline: none !important;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            color: $kleur-secondary;
          }
          
          .btn-4 {
            width: 130px;
            height: 40px;
            line-height: 42px;
            padding: 0;
            border: none;
          }
          .btn-4 span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
          }
          .btn-4:before,
          .btn-4:after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            background: $kleur-secondary;
            transition: all 0.3s ease;
           
          }
          .btn-4:before {
            height: 50%;
            width: 2px;
          
          }
          .btn-4:after {
            width: 20%;
            height: 2px;
          }
          .btn-4:hover:before {
            height: 100%;
          }
          .btn-4:hover:after {
            width: 100%;
          }
          .btn-4 span:before,
          .btn-4 span:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: $kleur-secondary;
            transition: all 0.3s ease;
          }
          .btn-4 span:before {
            width: 2px;
            height: 50%;
          }
          .btn-4 span:after {
            width: 20%;
            height: 2px;
          }
          .btn-4 span:hover:before {
            height: 100%;
          }
          .btn-4 span:hover:after {
            width: 100%;
          }
  }

  /*contact*/
  .c-contact {
    color: $kleur-secondary;
    h1 {
        margin-top: 2rem;
        @media only screen and (max-width: 1140px) {
          text-align: center;
        }
    }

      &--label {
        margin-top: 2rem;
        font-family: interstate, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14pt;
      }
    
      &--input {
        width: 100%;
        padding: 5px;
        border: 2px solid $kleur-secondary;
        border-radius: 0.15rem;
        font-family: interstate, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 12pt;
        &::placeholder{
          font-family: interstate, sans-serif;
          font-style: italic;
          font-weight: 100;
          font-size: 12pt;
        }
      }
    
      &--input:hover {
        border: 2px solid $kleur-secondary--hover;
      }

      &--textarea {
        padding: 5px;
        width: 100%;
        height: 38vh;
        border: 2px solid $kleur-secondary;
        border-radius: 0.15rem;
        font-family: interstate, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 12pt;
        &::placeholder{
          font-family: interstate, sans-serif;
          font-style: italic;
          font-weight: 100;
          font-size: 12pt;
        }
      }
    
      &--textarea:hover {
        border: 2px solid $kleur-secondary--hover;
      }

      iframe {
          width: 100%;
          padding-top: 4.2rem;
          padding-bottom: 1.6rem;
      }
      .card-btn {
        color: $kleur-secondary;
      }
      
      .card-btn:before,
      .card-btn:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background: $kleur-secondary;
        transition: all 0.3s ease;
       
      }
      
      .card-btn span:before,
      .card-btn span:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        background: $kleur-secondary;
        transition: all 0.3s ease;
      }
    
      .custom-btn {
        @media screen and (max-width: 990px) {
            margin-left: 1rem;
        }
        margin-left: 1rem;
        margin-bottom: 2rem;
        font-family: interstate, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14pt;
        background: transparent;
        outline: none !important;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        color: $kleur-secondary;
      }
      
      .btn-4 {
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
      }
      .btn-4 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
      .btn-4:before,
      .btn-4:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background: $kleur-secondary;
        transition: all 0.3s ease;
       
      }
      .btn-4:before {
        height: 50%;
        width: 2px;
      
      }
      .btn-4:after {
        width: 20%;
        height: 2px;
      }
      .btn-4:hover:before {
        height: 100%;
      }
      .btn-4:hover:after {
        width: 100%;
      }
      .btn-4 span:before,
      .btn-4 span:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        background: $kleur-secondary;
        transition: all 0.3s ease;
      }
      .btn-4 span:before {
        width: 2px;
        height: 50%;
      }
      .btn-4 span:after {
        width: 20%;
        height: 2px;
      }
      .btn-4 span:hover:before {
        height: 100%;
      }
      .btn-4 span:hover:after {
        width: 100%;
      }
  }

/*footer*/
  footer {
    position: relative;
    padding: 2rem;
    list-style-type: none;
    background-color: $kleur-secondary;

    h4 {
      color: $kleur-accent;
    }

    img {
        width: 3rem;
    }
  }

  .footer__nav--item {
    list-style-type: none;
  }

  .footer__i {
      color: white;
      padding-top: 5rem;
  }

  .footer__nav--link {
    font-family: interstate, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12pt;
    color: white;
    text-decoration: none;
  }

  .footer__nav--link:hover {
    text-decoration: none;
    color: $kleur-accent--hover;
  }

  .c-footer {
      text-align: center;
      
      li {
          text-align: left;
      }

      p {
          text-align: left;
          font-family: interstate, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12pt;
          color: white;
          padding-left: 8rem;
      }
  }

  .c-form__email {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 2px solid $kleur-accent;
    overflow: hidden;

    &--label{
      font-family: interstate, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12pt;
      color: $kleur-accent;
    }

    &--input {
      font-family: interstate, sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 12pt;
      padding: 5px;
      background: none;
      width: 70%;
      border: 2px solid $kleur-accent;
      background-color: transparent;
    }

    &--btn {
      font-family: interstate, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12pt;
      padding: 5px;
      border: 2px solid $kleur-accent;
      background-color: $kleur-accent;
      color: white;
      cursor: pointer;
    }
    
      &--btn:hover {
        background-color: $kleur-accent--hover;
        border: 2px solid $kleur-accent--hover;
      }
    
  }

  .c-fb {
    color: $kleur-accent;
    font-size: 2.5rem;
    padding: 2rem;

    &:hover {
        color: $kleur-accent--hover;
    }
  }
  
  .c-twitter {
    color: $kleur-accent;
    font-size: 2.5rem;
    padding: 2rem;

    &:hover {
        color: $kleur-accent--hover;
    }
  }
